<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Voice Manipulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B5E3715F1C2B199A0073AB52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5E371731C2B199A0073AB52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5E3717E1C2B199A0073AB52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
